# Basic Python

### Math Arithmetic

In [1]:
1+1

2

In [2]:
1/2

0.5

In [3]:
# 2 ยกกำลัง 4
2**4

16

In [5]:
# ทำ * ก่อนแล้ว / + - 
2+3*5+5

22

In [6]:
# mod (%) หาเศษ
4%2

0

### Variable assignment
    !ห้ามขึ้นต้นด้วยเลขและสัญลักณ์

In [7]:
var = 2
var

2

In [9]:
x=2
y=3
x+y

5

### String

In [10]:
var = 'My name is Matas'
print(var)

My name is Matas

In [12]:
# format String
name = 'Matas'
num = 4
print('My name is {} and my number is {}'.format(name,num))
print('My name is {one} and my number is {two}, more is {one}'.format(one = name,two = num))

My name is Matas and my number is 4
My name is Matas and my number is 4, more is Matas

In [15]:
# Index String
s= 'abcdefghijk'
print(s[0])

a

In [17]:
# Slice String 
print(s[:5])
print(s[2:5])

abcde
cde

In [59]:
s = 'hello my name is Sam'

In [60]:
s.lower()

'hello my name is sam'

In [61]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [62]:
s.split()[2]

'name'

### List

In [18]:
my_list = ['a','b','c']

In [19]:
# add item to list
my_list.append('d')
print(my_list)

['a', 'b', 'c', 'd']

In [20]:
# Index in list
print(my_list[0])

a

In [22]:
# Change data in list 
my_list[0] = 'Matas'
print(my_list)

['Matas', 'b', 'c', 'd']

In [23]:
# Index in many dimension
nest = [1,2,[3,4]]
print(nest[2][0])

3

In [65]:
# เอา indexที่ใส่ออก ออก 
nest.pop(0)

1

In [66]:
#check ว่าอยู่ใน list ใหม
2 in nest

True

In [67]:
x = [(1,2), (3,4) , (5,6)]

In [68]:
for a,b in x :
    print(a)

1
3
5

### Dictionary

In [26]:
d = {'key' : 'value', 'key2' : [1,2,3]}
print(d['key2'])

[1, 2, 3]

In [28]:
print(d['key2'][1])

2

In [63]:
d.keys()

dict_keys(['key', 'key2'])

### tuple
    จะแทนค่าใหม่ไม่ได้ คงที่

In [29]:
t = (1,2,3)
print(t)

(1, 2, 3)

### Collection
    จะ unique ถ้าซ้ำกันข้างในจะนับเป็น 1

In [30]:
c = {1,1,1,2,2,3}
print(c)

{1, 2, 3}

In [31]:
# เพิ่มค่าใน collection 
c.add(5)
print(c)

{1, 2, 3, 5}

### Compareble

In [32]:
1 > 2

False

In [33]:
1 == 1

True

In [35]:
(1 < 2) and (2 > 3)

False

In [36]:
(1 < 2) or (2 > 3)

True

### if-else Condition

In [37]:
if(1==2):
    print('First')
elif(3==3):
    print('Middle')
else:
    print('Last')

Middle

### Loop

In [38]:
seq = [1,2,3,4,5]

In [39]:
for item in seq :
    print(item)

1
2
3
4
5

In [45]:
i = 1

while(i<5):
    print('i is :'+str(i))
    i = i+1

i is :1
i is :2
i is :3
i is :4

In [47]:
out = [item ** 2 for item in seq ]
print(out)

[1, 4, 9, 16, 25]

### Range

In [46]:
list(range(0,5))

[0, 1, 2, 3, 4]

### Function

In [51]:
def myfunction(param1 = 'Default param'):
    print('Hello ' + param1)

myfunction()

Hello Default param

### Map

In [52]:
def time2(value):
    return value*2

In [54]:
seq = [1,2,3,4,5]
list(map(time2,seq))

[2, 4, 6, 8, 10]

In [55]:
# Lamda เขียน function ใน map ได้เลย 
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [56]:
# filter return แค่ค่า null
list(filter(lambda num: num%2 ==0,seq))

[2, 4]