In [2]:
import numpy as np
import pandas as pd

## Series

In [3]:
lables = ["a","b","c"] 
my_data = [10,20,30]  
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = my_data,index = lables)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(my_data,lables)

a    1
b    2
c    3
dtype: int64

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [11]:
ser1['USA']

1

In [12]:
ser2 = pd.Series([1,2,3,4],['USA','Italy','Germany','Japan'])

In [14]:
# Operation จะจำindex ที่เหมือนกันมา +-*/ กัน ถ้าไม่ match จะเป็น NaN
ser1+ser2

Germany    5.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

## DataFrames

In [7]:
df = pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [5]:
df

          W         X         Y         Z
A -1.148620  0.330044  1.169161 -1.279071
B  0.127283  0.367694  0.695308 -1.627253
C -1.275527  1.381442  0.028667  0.008770
D -1.078046  1.533273 -0.165846 -0.137283
E  0.548301  1.633661 -0.259034  1.050735

In [8]:
# เลือกโชว์ จะเป็น Serires 
df['W']

A   -1.148620
B    0.127283
C   -1.275527
D   -1.078046
E    0.548301
Name: W, dtype: float64

In [13]:
# ใส่ [] ครอบจะโชว์เป็นตาราง
df[['W','X']]

          W         X
A -1.148620  0.330044
B  0.127283  0.367694
C -1.275527  1.381442
D -1.078046  1.533273
E  0.548301  1.633661

In [14]:
# สร้างcolumnใหม่
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A -1.148620  0.330044  1.169161 -1.279071  0.020542
B  0.127283  0.367694  0.695308 -1.627253  0.822590
C -1.275527  1.381442  0.028667  0.008770 -1.246860
D -1.078046  1.533273 -0.165846 -0.137283 -1.243892
E  0.548301  1.633661 -0.259034  1.050735  0.289267

In [17]:
# ลบ column ใส่ inplace คือการ commit ถ้าไม่ใส่คือยังไม่ลบจริง 
df.drop('new', axis = 1 , inplace = True)

In [20]:
df.drop('E')

          W         X         Y         Z
A -1.148620  0.330044  1.169161 -1.279071
B  0.127283  0.367694  0.695308 -1.627253
C -1.275527  1.381442  0.028667  0.008770
D -1.078046  1.533273 -0.165846 -0.137283

In [21]:
# แสดง row ด้วยชื่อ
df.loc['A']

W   -1.148620
X    0.330044
Y    1.169161
Z   -1.279071
Name: A, dtype: float64

In [22]:
# แสดง row ด้วยindex
df.iloc[1]

W    0.127283
X    0.367694
Y    0.695308
Z   -1.627253
Name: B, dtype: float64

In [23]:
# แสดงเจาะจงแค่ cell เดียว
df.loc['B','Y']

0.6953075569577559

In [25]:
# แสดงหลาย cell
df.loc[['A','B'],['W','Y']]

          W         Y
A -1.148620  1.169161
B  0.127283  0.695308

In [28]:
#conditon 
booldf = df > 0
booldf

       W     X      Y      Z
A  False  True   True  False
B   True  True   True  False
C  False  True   True   True
D  False  True  False  False
E   True  True  False   True

In [8]:
df[df>0]

          W         X         Y         Z
A       NaN       NaN  0.278715       NaN
B  0.508846  1.528288       NaN       NaN
C  1.844886  1.320424       NaN       NaN
D       NaN  1.384606       NaN  1.654770
E  0.394404       NaN  0.409690  1.673508

In [11]:
df[['W']]

          W
A -1.463149
B  0.508846
C  1.844886
D -0.896743
E  0.394404

In [13]:
# 2 condition 
df[(df['W'] > 0) &  (df['Y'] >0)]

          W         X        Y         Z
E  0.394404 -2.220212  0.40969  1.673508

In [16]:
# เพื่ม column
df['State'] = ["CA","NY","WY","OR","CO"]

In [17]:
df

          W         X         Y         Z State
A -1.463149 -0.688930  0.278715 -0.613985    CA
B  0.508846  1.528288 -1.076004 -0.573935    NY
C  1.844886  1.320424 -0.570350 -0.232597    WY
D -0.896743  1.384606 -0.569283  1.654770    OR
E  0.394404 -2.220212  0.409690  1.673508    CO

In [18]:
# reset index ต้องใส่ inplace = true ด้วย 
df.set_index('State')

              W         X         Y         Z
State
CA    -1.463149 -0.688930  0.278715 -0.613985
NY     0.508846  1.528288 -1.076004 -0.573935
WY     1.844886  1.320424 -0.570350 -0.232597
OR    -0.896743  1.384606 -0.569283  1.654770
CO     0.394404 -2.220212  0.409690  1.673508

In [19]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [20]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.298936  2.037044
   2 -0.972447 -0.419058
   3  1.624533  1.164808
G2 1 -0.670990 -0.057614
   2  0.369550  1.759366
   3  0.983986 -0.634105

In [28]:
df.loc['G1'].loc[1].loc['B']

2.0370436768477362

In [31]:
df.index.names = ['Groups', 'Num']

In [32]:
df

                   A         B
Groups Num
G1     1   -0.298936  2.037044
       2   -0.972447 -0.419058
       3    1.624533  1.164808
G2     1   -0.670990 -0.057614
       2    0.369550  1.759366
       3    0.983986 -0.634105

In [39]:
# เอาแค่ค่า 1 ของแต่ละ Groups
df.xs(1,level = 'Num')

               A         B
Groups
G1     -0.298936  2.037044
G2     -0.670990 -0.057614